@inject IStringLocalizer<Resources> localizer

<div class="game-over">
    @if (!string.IsNullOrEmpty(Country))
    {
        <a class="link" target="_blank" href="@MapUri">
            <i class="@Icons.Earth"></i>
            <span class="answer">@Country</span>
        </a>
    }
    else
    {
        <div class="congratulations">
            <span>@localizer[Resources.Congratulations]</span>
            <a class="link" target="_blank" href="@MapUri">
                <i class="@Icons.Earth"></i>
                <span class="answer">@localizer[Resources.SeeOnMap]</span>
            </a>
        </div>
    }
    @if (OnRestart.HasDelegate)
    {
        <button type="button" @onclick="RestartAsync">@localizer[Resources.Restart]</button>
    }
</div>
