@using Atlas.Web.App.Options

@inject ProjectOptions project
@inject CompanyOptions company

<footer>
    <ul role="list">
        <li>&copy; @GetCopyrightYears()</li>
        <li>
            <a class="link" target="_blank" href="@company.Url">
                <i class="@Icons.Github"></i>
                <span>@company.Name</span>
            </a>
        </li>
        <li>
            <a class="link" @onclick="Modal.ShowChangelog">
                <span>@project.Version</span>
            </a>
        </li>
    </ul>
</footer>
