@using Atlas.Web.App.Flags.Components

@page "/flags/random"

<div class="game">
    @if (!string.IsNullOrEmpty(_randomizedCca2))
    {
        <picture>
            <source srcset="@_flag.Uri" type="@_flag.MediaType" />
            <img src="@_flag.Uri" alt="Randomized flag" />
        </picture>
    }
    <div class="guess">
        @if (!_isGameFinished)
        {
            <CountryAutocomplete Guess="Guess" />
        }
        else
        {
            <GameOver Country="@_answer" MapUri="@_mapUri"  />
        }
        <FlagGuesses />
    </div>
</div>
